
@font-face {    
    font-family: hmk;
    src: url(./fonts/hmk.ttf);
}
@font-face {
    font-family: tarumian;
    src: url(./fonts/tarumian.ttf);
}
@font-face {
    font-family: montserratarm-thin;
    src: url(./fonts/montserratarm-thin.otf);
}
@font-face {
    font-family: montserratarm-extralight;
    src: url(./fonts/montserratarm-extralight.otf);
}
@font-face {
    font-family: montserratarm-light;
    src: url(./fonts/montserratarm-light.otf);
}
@font-face {
    font-family: montserratarm-regular;
    src: url(./fonts/montserratarm-regular.otf);
}
@font-face {
    font-family: montserratarm-medium;
    src: url(./fonts/montserratarm-medium.otf);
}
@font-face {
    font-family: montserratarm-semibold;
    src: url(./fonts/montserratarm-semibold.otf);
}
@font-face {
    font-family: montserratarm-bold;
    src: url(./fonts/montserratarm-bold.otf);
}
@font-face {
    font-family: montserratarm-extrabold;
    src: url(./fonts/montserratarm-extrabold.otf);
}
@font-face {
    font-family: montserratarm-black;
    src: url(./fonts/montserratarm-black.otf);
}

:root {
    font-size: 1.6vw;
}

body {
    background: white;
    margin: 0;
}

.root {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
    max-width: 650px;
    margin: 0 auto;
    color: #1f5755;
    position: relative;
    padding: 0 0 50px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 7rem;
    padding: 0px 4rem;
    width: calc(100% - 8rem);
    flex-direction: column;
}

.week {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.day {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex-direction: column;
}

span.number {
    font-size: 6rem;
    font-family: "montserratarm-medium";
}

span.weekday {
    font-size: 3rem;
    font-family: "montserratarm-light";
}

.lessons {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 3rem;
}

.lesson {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 1.4rem;
    flex-direction: column;
}

span.time {
    font-size: 1.4rem;
    font-family: "montserratarm-semibold";
    display: flex;
}

span.title {
    font-size: 1.6rem;
    font-family: "montserratarm-light";
    line-height: 1.9rem;
}

span.title .name {
    color: #123938;
    font-family: "montserratarm-medium";
}

.month {width: 50%;margin: 0 auto;text-align: right;}

.month span {
    font-size: 7rem;
    font-family: "tarumian";
    color: #123938;
}

.header {
    font-size: 8rem;
    font-family: "hmk";
    text-transform: uppercase;
    padding: 4rem 4.5rem;
    width: calc(100% - 9rem);
    background-image: url(./images/a.png);
    background-size: cover;
    color: #fff;
    position: relative;
    background-repeat: repeat-x;
}

.logo {
    position: absolute;
    width: 14rem;
    bottom: -6.8rem;
    right: 4rem;
}

.bg {max-width: 1200px;top: 65px;position: absolute;z-index: -1;left: 0;width: 100%;}

@media (min-width: 481px) {
    .root {
        max-width: 100%;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    :root {
        font-size: 1vw;
    }
}